name: build
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          cache: npm
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm install

      - name: Lint commit message
        run: npx commitlint --from=HEAD~1

      - name: Generate Swagger types
        run: npm run swagger-to-types

      - name: Lint codebase
        run: npm run lint

      - name: Check type
        run: npm run lint:tsc

      - name: Build package
        run: npm run build

      - name: Run tests
        run: npm run test:ci
        env:
          PACCURATE_API_KEY: ${{ secrets.PACCURATE_API_KEY }}

      - name: Codecov
        uses: codecov/codecov-action@v3
